@mixin heading {
    font-size: 4rem;

    @media (max-width: 991px) {
        font-size: 3.75rem;
    }

    @media (max-width: 768px) {
        font-size: 3.5rem;
    }

    @media (max-width: 576px) {
        font-size: 2.8rem;
    }
}

@mixin title {
    font-size: 2rem;

    @media (max-width: 991px) {
        font-size: 1.5rem;
    }

    @media (max-width: 768px) {
        font-size: 1rem;
    }

    @media (max-width: 576px) {
        font-size: 1.4rem;
    }
}

@mixin content {
    font-size: 2rem;

    @media (max-width: 768px) {
        font-size: 1.5rem;
    }

    @media (max-width: 576px) {
        font-size: 1rem;
    }
}

@mixin btn() {
    background-color: $green;
    color: $white;
    border-radius: 12px;
    padding: 15px 30px;
    transition: all .3s ease;
    font-size: 20px;
    box-shadow: inset 0px 1px 20px $white;

    &:hover {
        background-color: rgb(19, 16, 16);
    }

    &:active {
        scale: .9;
    }
}