.samples {
    background: $green;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;
    }

    &__content {
        width: 80%;
        height: auto;
        background: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        overflow: hidden;

        &__left {
            padding: 20px 30px;
            width: 50%;

            &__heading {}

            &__form {
                &__row {

                    input {
                        font-size: 16px;
                        padding: 15px 25px;
                        border: 1px solid $light-green;
                        border-radius: 10px;
                        color: $text-green;
                    }


                    input::placeholder {
                        color: $text-green;
                    }

                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    input[type=number] {
                        -moz-appearance: textfield;
                    }
                }
            }

        }

        &__right {
            width: 50%;
            height: auto;
            overflow: hidden;

            &__img {
                width: 100%;
            }
        }
    }
}